@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper > *:not(.bg-layer) {
  position: relative;
  z-index: 10; /* content stays above */
}

.bg-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.top-right {
  background-image: url(./assets/pattern-squiggly-line-top.svg);
  background-position: top right;
  background-size: 400px;
}

.circle {
  background-image: url(./assets/pattern-circle.svg);
  background-position: center right;
  background-size: 100px;
}

.bottom-left {
  background-image: url(./assets/pattern-squiggly-line-bottom-desktop.svg);
  background-position: bottom left;
  background-size: 60%;
}

.lines {
  background-image: url(./assets/pattern-lines.svg);
  background-position: center;
}

body {
  font-family: "Inconsolata", monospace;
  background: url(./assets/background-desktop.png) center/cover no-repeat;
  color: var(--Neutral-0);
  padding: 1rem;
}

@media (max-width: 640px) {
  body {
    background: url(./assets/background-mobile.png) center/cover no-repeat;
  }
}

@media (max-width: 1000px) {
  body {
    background: url(./assets/background-tablet.png) center/cover no-repeat;
  }
  .bottom-left {
    background-image: url(./assets/pattern-squiggly-line-bottom-mobile-tablet.svg);
  }
}

label {
  font-size: 16px;
}

input {
  border: var(--neutral-700) 3px solid;
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  margin: 0.3rem 0;
  background-color: hsl(245, 19%, 25%);
}


